.gameboard {
    display:grid;  
    width: 100vw;
    height: 80vw;
    max-width:500px;
    max-height:400px;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    grid-gap:10px 10px;
    justify-content: center;
}
.gamepad {
    border-radius: 20%;    
    border:0;
}
.gamepad:focus, .gamepad:active {
    outline: none;
}
.gamepad:active {
    opacity: 0.4;
}
.gamepad-1 {
    border-top-left-radius: 75%;
    background:yellow;
}
.gamepad-2 {
    border-top-right-radius: 75%;
    background: red;
}
.gamepad-3 {
    border-bottom-left-radius: 75%;
    background: green;
}
.gamepad-4 {
    border-bottom-right-radius: 75%;
    background: blue;
}

.blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity:1;
    }
}
